/* HEADER */
/* header {         HEADER CSS is in header.css
    display: block;
    width: 100vw;
    height: 50px;
    background-color: red;
    text-align: center;
    color: white;
} */
/* MAIN section*/
body, html {
    margin: 0;
    padding: 0;
}
#mainSection {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#mainSection img {
    max-width: 200px;
}
/* RADIO buttons */
#switchButtons {
    width: 100vw;
    padding-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* SCROLL Menu */
#scrollMenu {
    display: flex;
    padding: 1em;
}
.scroll-img{
    padding: 0;
    max-width: 45vw;
    margin-left: auto;
    display: block;
    border-radius: 50px;
    justify-self: center;
}
/* PAGE one */
#pageOne {
    display: none;
    grid-template-columns: 1fr 1fr;
}
#pageOne div{
}
/* PAGE two */
#pageTwo {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#pageTwo div {
    justify-content: start;
}
/* PAGE three */
#pageThree {
    display: none;
    grid-template-columns: 1fr 1fr;
}

/* QUIP space */
#quipSection {
    padding: 1em;
    height: 300px;
}
#quipBox{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 50px);
}
.quip{
    background-color: white;
    width: max-content;
    height: max-content;
    padding: 5px;
    border: 1px solid black;
    border-radius: 15px;
    max-height: 1.4rem;
    overflow: hidden;
    transition: max-height 300ms ease-in-out;
}
.quip:hover {
    max-height: 800px;
}
.quip summary{
    text-align: center;
    list-style: none;
}
/* QUIP BOXES */
#firstAppearanceBtn{
    grid-area: 1/5/2/6;
}
#publisherBtn{
    grid-area: 3/1/4/2;
}
#powerScoreBtn{
    grid-area: 5/6/6/7;
}
#moralsBtn{
    grid-area: 5/3/6/4;
}
/* ANIMATIONS */
@keyframes inRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(-90%);
        opacity: 1;
    }
}
@keyframes inLeft {
    from {
        transform: translateX(-100%); /* Start off-screen to the left */
        opacity: 0;
    }
    to {
        transform: translateX(0); /* Move into view */
        opacity: 1;
    }
}
@keyframes outRight {
    from {
        transform: translateX(0);
        opacity: 1;
    }
    to {
        transform: translateX(100%);
        opacity: 0;
    }
}
@keyframes outLeft {
    from {
        transform: translateX(0); /* Start off-screen to the left */
        opacity: 1;
    }
    to {
        transform: translateX(-100%); /* Move into view */
        opacity: 0;
    }
}
/* MEDIA QUERIES */
@media screen and (min-width: 600px) {
    .text-box{
        font-size: 2em;
    }
    .text-box h4{
        text-align: center;
    }
    #mainSection {
        height: 400px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;
        margin: 2em;
    }
    #mainSection img{
        max-width: 300px;
        align-self: center;
        justify-self: center;
    }
    #mainSection h4{
        text-align: center;
    }
    #switchButtons {
        margin-top: 150px;
    }
    #switchButtons input{
        margin: 1em;
        transform: scale(150%);
    }
    #scrollMenu {
        height: max-content;
    }
    #scrollMenu div ul{
        margin-left: 1.2em;
    }
    .scroll-img {
        transform: scale(50%);
        grid-area: 1/1/2/2;
    }
    #pageOne, #pageTwo, #pageThree {
        margin: 1em;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 300px;
        align-items: center;
        justify-content: center;
        font-size: 1em;
    }
    .quip {
        font-size: 1.5em;
    }
    #quipSection {
        margin-top: 150px;
    }

}
/* FOOTER */
/* footer {         FOOTER CSS is in footer.css
    display: block;
    width: 100vw;
    height: 50px;
    background-color: red;
    text-align: center;
    color: white;
} */