body, html {
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

#big-title {
    display: block;
    border: solid black 2px;
    border-radius: 20px;
    text-align: center;
    margin-inline: 2em;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.4);
}

#hero-img-page {
    width: 100vw;
    height: 25vw;
    background-color: gray;
    display: block;
}

#switch-toggle-box{
    display: flex;
    width: 100wv;
    gap: 0.5em;
    padding: 0.5em;
}
#switch-toggle-box button{
    height: 1.25em;
    width: 80vw;
    margin-inline: 0 auto;
    border-radius: 20px;
}

.active-page{
    background-color: #6A2CCD;
}
.inactive-page{
    background-color: white;
    box-shadow: 1px 1px 3px black;
}

#carousel{
    width: 200vw;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.carousel-page{
    width: 100vw;
    height: max-content;
    max-height: 80vw;
    padding: 0.5em;
    background-color: red;
}

#details-box{
    display: flex;
    width: 100vw;
}

#details-box 
section {
    width: 40vw;
    margin-inline: 0 auto;
}

#one-liner-box article{
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    background-color: white;
}

.one-liner {
    display: flex;
    max-width: 6em; /* Restrict container width */
    overflow: hidden; /* Hide overflowing content */
    white-space: nowrap; /* Prevent wrapping */
    border: solid 1px black;
}

.spacer {
    flex-grow: 1; /* Push "Bruce Wayne" away */
}
