footer {
    background-color: rgb(211, 243, 159);
    font-family: Inter;
    margin-top: 50px;
    padding: 10px 25px 25px 25px;
}

.footer-link {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
    font-family: Inter;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
    /* background-color: grey; */
}
footer h2 {
    font-family: Teko;
    font-size: 1.8rem;
    text-transform: uppercase;
}

footer img {
    height: 40px;
    width: 40px;
}
.icon-refs {
    padding-top: 10px;
    font-weight: bolder;
    font-size: 0.9rem;
}