header {
    background-color: rgb(211, 243, 159);
}
.menu-dropdown{
    /* display: block; */
    /* width: 100%; */
    background-color: #C0BABC;
    /* padding: 25px; */
    max-height: 0;
    overflow: hidden;
    transition: all 0.5s;
}
.menu-dropdown.show {
    padding: 25px;
    max-height: 500px;
}
nav li {
    list-style: none;
}
.hide {
    max-height: 0;
    max-width: 0;
    overflow: hidden;
}
.show {
    max-height: 300px;
}
.logo-menu {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}
.nav-link{
    font-size: 1.8rem;
    text-decoration: none;
    font-family: Teko;
    text-transform:uppercase;
    color: white;
    /* padding: 15px;
    background-color: grey;
    border-radius: 10px; */
}
#toggle-nav-btn{
    background: none;
    border: none;
    cursor: pointer;
}

#logo-img {
    width: 150px;
    height: 150px;
    background-color: none;
}
#close-svg {
    max-height: 0;
    max-width: 0;
    overflow: hidden;
}
.search-div {
    display: flex;
    margin: 0px 20px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding-bottom: 25px;
}
.search-input {
    font-family: Inter;
    height: 50px;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
    font-size: 1rem;
}
.search-submit-btn {
    background-color: white;
    border: none;
    border-radius: 10px;
    height: 50px;
    cursor: pointer;

}
#search-svg {
    width: 50px;
    height: 50px;
}

